.clear {
    clear
}

body {
    background-image: url(./images/memesbackground.jpg);
    background-size: 108%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
}