.clear {
    clear: both;
}

@font-face {
    font-family: android7;
    src: url("../Felipe/font-family/membra.ttf");
}

@font-face {
    font-family: nfsunder;
    src: url("../Felipe/font-family/UndergroundNF.ttf");
}

body {
    background-image: url(./images/memesbackground.jpg);
    background-size: 108%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
}

.header {
    margin-top: 50px;
}

.caixaTitulo1 {
    width: 100%;
    text-align: center;
}

.titulo1 {
    width: 100%;
}

.caixaFilhoTitulo1 {
    width: fit-content;
    font-family: android7;
    font-size: 100px;
    color: violet;
}

.titulo3 {
    font-size: 50px;
    font-family: nfsunder;
}

.caixaTitulo3 {
    border: 2px solid yellow;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
}

.caixaSection {
    border: 2px solid yellow;
}

.caixaForm {
    border: 2px solid yellow;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.caixaTexto {
    width: 900px;
    height: 50px;
}

.caixaBotao {
    text-align: center;
}

.caixaBotaoFilho {
    border: 2px solid blue;
}

.side {
    border: 2px solid red;
    background-color: white;
    float: right;
    margin: 20px 10px 10px 10px;
    width: 20%;
}

.art {
    border-top: 12px groove red;
    border-left: 12px groove red;
    border-bottom: 12px ridge red;
    border-right: 12px ridge red;
    background-color: white;
    opacity: 85%;
    float: left;
    margin: 20px 5px 20px 20px;
    width: 75%;
}

.caixaDentroArt {
    width: fit-content;
    border: 15px dashed blue;
}

.paiImagemTotal {
    width: fit-content;
}

.imagemTotal {
    text-align: center;
    width: 100%;
    padding: 2%;
}

.imagemUnica {
    width: 70%;
    border: 10px groove yellow;
    border-radius: 5%;
}

.rodape {
    border: 2px solid red;
    background-color: white;
    bottom: 0;
    text-align: center;
}