* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: flex-start;
}

.board {
  width: 25%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.board2 {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 100%;
  background-color: #1a232b;
}

.optionsText {
  display: flex;
  justify-content: center;
}

.optionsText .material-icons {
  margin: auto 13px;
  color: #a8b1b9;
}

.optionsText .material-icons:hover {
  color: black;
}

.fileArea {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropArea {
  margin: 20px;
  width: 270px;
  height: 150px;
  border-radius: 30px;
  border-style: dashed;
  border-width: 2px;
  border-color: #ced4da;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropArea div {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.dropArea div i {
  color: #717579;
}

.dropArea div span {
  text-align: center;
  margin: 5px 30px;
  color: #a1a7ad;
}

.highlight {
  background-color: #f0f3fa;
}

h1 , h2 {
  width: 100%;
  text-align: center;
  font-family: 'Alata', sans-serif;
  color: #072742;
}

h1 {
  font-size: 30px;
  margin-top: 10px;
  top: 30px;
  left: 630px;
}

h2 {
  margin: 20px 0;
  padding: 8px;
  background-color: #eef2f9;

}

.up textarea , .down textarea {
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ced4da;
  overflow-y: scroll;
  resize: none;
}

.down textarea {
  margin-top: 10px;
}

.meme {
  height: 380px;
  position: relative;
  top: 70px;
  box-sizing: border-box;
}

.moldura {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #ced4da;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.moldura .material-icons {
  font-size: 40px;
  cursor: pointer;
}


.meme img {
  width: auto;
  height: 380px;
  background-size: cover;
}

.borderWhite {
  border-width: 6px;
  border-style: solid;
  border-color: white;
}

.borderBlack {
  border-width: 6px;
  border-style: solid;
  border-color: black;
}

.borderLess {
  border-style: none;
}

.textUp , .textDown {
  position: absolute;
  text-align: center;
  color: white;
  font-family: 'Calistoga', cursive;
  padding: 0 30px;
}

.textUp {
  width: 100%;
  height: auto;
  top: 70px;
}

.textDown {
  width: 100%;
  height: auto;
  top: 270px;
}

.opcoes {
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 170px;
  width: 75%;
  background-color: #1f2b38;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #dcd5cf;
}

.opcoes figure {
  margin: auto 20px;
}

.opcoes figure img {
  width: auto;
  height: 100px;
  object-fit: contain;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

button.reset {
  margin: 20px 30px;
  margin-bottom: 0;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #072742;
  background-color: white;
  color: #072742;
}

button.reset div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.reset span {
  font-size: 20px;
}
