body{
	font-family: sans-serif;
}
h1, h2{
	text-align: left;
}
section{
	display:inline-block;
}
#esquerda{
	background-color: #6b727d;
	vertical-align: top;
	margin-top:100px;
	width:500px;
	padding-left: 20px;
	text-align: center;
}
#insere-texto-cima{
	width:80%;
	align-self: center;
}
#texto-meme {
	position: absolute;
	text-align:center;  
	font-size: 60px;
	width: 500px;
	-webkit-text-stroke: 1.5px black;
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	word-break: normal;
}
#quadrado-meme{
	width: 500px;
	height: 500px;
	border: 1px solid #000;
	margin-left:200px;
	margin-top:100px;
}

#titulo{
	align-self: 0px
}