#page-wrap {
  padding: 10px;
  margin: auto;
  background-image: url( 'img/malandro.jpg' );
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  border: solid 4px black;
  width: 450px;
  height: 450px;
  position: relative;
  margin: 0 auto;
}
.meme-txt {
  position: absolute;
  margin: 0 auto;
  width: 450px;
  font-family: impact;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    0px 2px 0 black,
    2px 0px 0 black,
    0px -2px 0 black,
    -2px 0px 0 black,
    2px 2px 5px black;
  word-break: break-all;
}
#upper-txt {
  top: 0;
}
#lower-txt {
  bottom: 0;  
}
#title-txt {
  font-family: impact;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    0px 2px 0 black,
    2px 0px 0 black,
    0px -2px 0 black,
    -2px 0px 0 black,
    2px 2px 5px black;
}
.texto {
  font-family: arial;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 black,
    0px 1px 0 black,
    1px 0px 0 black,
    2px 0px 0 black,
    0px 0px 0 black,
    1px 0px 0 black,
    0px 2px 0 black,
    0px 0px 0 black,
    2px 2px 5px black;
}
.form-content {
  margin-top: 20px;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: grey;
  text-align: center;
}
.form {
  margin-bottom: 30px;
}
