body {
    background-image: url(Imagem/bandeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.box {
    display: absolute;
    align-content: center;
    width: 900px;
    height: 500px;
    border: solid 5px black;
}

#botoes {
    text-align: center;
}

h1 {
    text-align: center;
}

#texto {
    bottom: 50px;
}

#texto1 {
    top: 150px;
}

.estilo {
    position: absolute;
    text-align: center;
    padding-left: 45px;
    color: #FFFFFF;
    max-width: 820px;
    max-height: 720px;
    word-break: break-all;
    font-family: Impact, Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px black;
    margin: 0 0 0 0;
}

#pegarTag {
    position: absolute;
}

.inicio {
    font size: 10px;
    font-family: 'Calistoga', cursive;
    color: #FFFFFF;
}

p {
    display: inline;
}

#diretorio {
    font size: 10px;
    font-family: 'Calistoga', cursive;
    color: #FFFFFF;
}

.meme {
    width: 60px;
    height: 60px;
    border: solid black 5px;
}

.sugestao {
    padding: 0 0;
    border-style: none;
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 10px;
    background-color: black;
}

#h21 {
    position: absolute;
    display: block;
    left: 50px;
    top: 200px;
    color: white;
}

.local {
    top: 150px;
    position: relative;
    right: 210px;
}

#h22 {
    position: absolute;
    display: block;
    left: 50px;
    top: 350px;
    color: white;
}

.border1 {
    border: double blue 3px;
}

.border2 {
    border: blueviolet dashed 3px;
}

.border3 {
    border: inset chocolate 3px;
}

.border4 {
    border: solid 5px black;
    background-color: white;
    position: absolute;
    top: 400px;
    left: 8px;
}