body {
    background-image: url(Imagem/bandeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box {
    align-items: center;
    width: 900px;
    height: 500px;
    border: solid 3px black;
}

#botoes {
    text-align: center;
}

h1 {
    text-align: center;
}

#texto {
    bottom: 50px;
}

#texto1 {
    top: 150px;
}

.estilo {
    position: absolute;
    text-align: center;
    padding-left: 45px;
    color: #FFFFFF;
    max-width: 820px;
    max-height: 720px;
    word-break: break-all;
    font-family: Impact, Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px black;
    margin: 0 0 0 0;
}

#pegarTag {
    position: absolute;
}

.inicio {
    font size: 10px;
    font-family: 'Calistoga', cursive;
    color: #000000;
}

p {
    display: inline;
}

#diretorio {
    font size: 10px;
    font-family: 'Calistoga', cursive;
    color: #000000;
}